html{
    margin: 2em;
    font-family: "Merriweather";
    background-color: #000;
    color: #C0C0C0
;
}

main{
    /*display: grid;
    row-gap: 2em;*/
    display: flex;
    flex-direction: column;
    gap: 2em;
}
h1,
h2{
    font-family: "Lato";
    color: #ebb800;
}
h3{
    color: #A133D7;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;

}

section{
    background-color: #1A1A1A;
    padding: 1em;
}

#head{
    justify-self: center;
}


#profile{
    max-width: 33vw;
    max-height: 25em
}

hr{
    border-color: #A133D7;
}

@media (min-width: 1024px) 
{
    /*
    main{
    display: grid;
    gap: 2vw;
    grid-template-columns: 1fr;
    }
    */
    #head{
    display: grid;
    grid-template-columns: 1fr 2fr;
    }
    .resumeInfo{
        max-width: 40vw;
        flex-wrap: wrap;
    }
    #experienceS{


    }
    #experience{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

}