html{
    margin: 2em;
    font-family: "Merriweather";
    background-color: #000;
    color: #C0C0C0
;
}

main{
    display: grid;
    row-gap: 2em;
}
h1,
h2,
h3{
    font-family: "Lato";
    color: #ebb800;
}
section{
    background-color: #1A1A1A;
    padding: 1em;
}