
.container{
  background-color: black;
}
.whole{
  min-height: 600px;
}
.statement { 
  font-size: 2em; 
  line-height: 1.5em; 
  color: #ebb800; 
}

.carousel { 



}

.carouselImg { 
  width: 80%; 
  height: 500px; 
  object-fit: cover; 
}

.caraButtons { 
  height: 5em; 
  width: 5em; 
  user-select: none; 
}



