
.container{
  background-color: black;
}
.whole{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.statement { 
  font-size: 2.5em; 
  line-height: 1.5em; 
  color: #ebb800; 
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.carousel {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: auto;
  position: relative;
}

.carouselContent {
  overflow: hidden;
  position: relative;
}

.carouselInner {
  display: flex;
  transition: transform 0.6s ease-in-out;
  width: 100%;
  max-width: 2000px;
}

.carouselSlide {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.carouselImg { 
  height: 500px; 
  width: 100%;
  object-fit: cover; 
}

.caraButtons { 
  color: #C0C0C0;
  height: 5em; 
  width: 5em; 
  user-select: none; 
  border-color: #C0C0C0;
  border-radius: 50%;
  border-width: 2px;
}



