body{
    font-family: "Merriweather";
    background-color: #000;
    color: #C0C0C0;
    line-height: 1.5em;
    font-size: 16px;
    font-size: 1.125em;
}

:root {
  font-family: system-ui, "Merriweather", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.text-padding li{ 
  padding-top: 0.5em; 
  margin-left: 1em; 
  list-style:none; 
}

main{ 
  display: flex; 
  flex-direction: column; 
  gap: 2em; 
  margin: 2em; 
}

h1,
h2{ 
  font-family: "Lato"; 
  color: #ebb800; 
  font-size: 1.5em;
}

h1{ 
  font-size: 2.5em; 
}

h3{ 
  color: #A133D7; 
}

hr{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul{ 
  padding: 0; 
  margin: 0; 
  list-style: georgian;
}

li{ 
  list-style: none; 
}
.text-padding li{

    list-style:circle;
}
#navbar{ 
  display: flex; 
  background-color: #1A1A1A; 
  padding-left: 2em; 
  padding-right: 2em; 
  border-bottom: 2px solid #212121; 
  justify-content: space-between; 
  align-items: center; 
}

#navbar a{ 
  padding: 30px; 
  background-color: #212121; 
  text-decoration: none; 
}

#navbar a:link,
#navbar a:visited,
#navbar a:active{ 
  color: #D3D3D3; 
}

#navbar a:hover{ 
  background-color: #ebb800; 
}

section{ 
  background-color: #1A1A1A; 
  padding: 1em; 
  border-radius: 1em; 
  border: 2px solid #212121; 
}

#head{ 
  display: grid; 
  grid-template-columns: 1fr; 
  row-gap: 2em; 
  margin: 2em; 
}

#profile-section{ 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

#profile{ 
  max-width: 33vw; 
  max-height: 25em; 
  border-radius: 8px; 
}

hr{ 
  border-color: #A133D7; 
}

#flex-container{ 
  display: flex; 
  flex-direction: column; 
  gap: 2em; 
}

#portfolio{ 
  position: relative; 
  margin: 2em; 
}

#statement{ 
  font-size: 2em; 
  line-height: 1.5em; 
  color: #ebb800; 
}

#carousel{ 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

#carousel-img{ 
  width: 80%; 
  height: 500px; 
  object-fit: cover; 
}

.caraButtons{ 
  height: 5em; 
  width: 5em; 
  border-radius: 50%; 
  user-select: none; 
}

@media (min-width: 1024px) {
  #head{ 
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    border-radius: 1em; 
    border: 2px solid #212121; 
    overflow: hidden; 
  }

  .resumeInfo{ 
    flex: 1 1 45%; 
  }

  #flex-container{ 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    gap: 2em; 
  }

  #experience{ 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 2em; 
  }

  article section{ 
    border-radius: 0; 
    border: none; 
  }

}
