body{
    font-family: "Merriweather";
    background-color: #000;
    color: #C0C0C0;
    line-height: 1.5em;
    font-size: 16px;
    font-size: 1.125em;
}


.text-padding li{ 
  padding-top: 0.5em; 
  margin-left: 1em; 
  list-style:none; 
}

main{ 
  display: flex; 
  flex-direction: column; 
  gap: 2em; 
  margin: 2em; 
}

h1,
h2{ 
  font-family: "Lato"; 
  color: #ebb800; 
  font-size: 1.5em;
}

h1{ 
  font-size: 2.5em; 
}

h3{ 
  color: #A133D7; 
}

hr{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul{ 
  padding: 0; 
  margin: 0; 
  list-style: georgian;
}

li{ 
  list-style: none; 
}
.text-padding li{

    list-style:circle;
}
#navbar{ 
  display: flex; 
  background-color: #1A1A1A; 
  padding-left: 2em; 
  padding-right: 2em; 
  border-bottom: 2px solid #212121; 
  justify-content: space-between; 
  align-items: center; 
}

#navbar a{ 
  padding: 30px; 
  background-color: #212121; 
  text-decoration: none; 
}

#navbar a:link,
#navbar a:visited,
#navbar a:active{ 
  color: #D3D3D3; 
}

#navbar a:hover{ 
  background-color: #ebb800; 
}

section{ 
  background-color: #1A1A1A; 
  padding: 1em; 
  border-radius: 1em; 
  border: 2px solid #212121; 
}

#head{ 
  display: grid; 
  grid-template-columns: 1fr; 
  row-gap: 2em; 
  margin: 2em; 
}

#profile-section{ 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

#profile{ 
  max-width: 33vw; 
  max-height: 25em; 
  border-radius: 8px; 
}

hr{ 
  border-color: #A133D7; 
}

#flex-container{ 
  display: flex; 
  flex-direction: column; 
  gap: 2em; 
}

#portfolio{ 
  position: relative; 
  margin: 2em; 
}

#statement{ 
  font-size: 2em; 
  line-height: 1.5em; 
  color: #ebb800; 
}

#carousel{ 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

#carousel-img{ 
  width: 80%; 
  height: 500px; 
  object-fit: cover; 
}

.caraButtons{ 
  height: 5em; 
  width: 5em; 
  border-radius: 50%; 
  user-select: none; 
}

@media (min-width: 1024px) {
  #head{ 
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    border-radius: 1em; 
    border: 2px solid #212121; 
    overflow: hidden; 
  }

  .resumeInfo{ 
    flex: 1 1 45%; 
  }

  #flex-container{ 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    gap: 2em; 
  }

  #experience{ 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 2em; 
  }

  article section{ 
    border-radius: 0; 
    border: none; 
  }

}
