.navbar { 
  display: flex; 
  background-color: #1A1A1A; 
  padding-left: 2em; 
  padding-right: 2em; 
  border-bottom: 2px solid #212121; 
  justify-content: space-between; 
  align-items: center; 
}
.navbar h1 { 
  color: #ebb800; 
  font-family: 'Lato', sans-serif;
  font-size: 3.2em;
  line-height: 1.5em;
  font-weight: 700; 
}
.links { 
  padding: 30px; 
  background-color: #212121; 
  text-decoration: none; 
  font-family: 'Merriweather', serif;
  font-size: 1.125em;
  line-height: 0em;
  color: #D3D3D3; 
  border-radius: 10%;

}

.links a:link,
.links a:visited,
.links  a:active,
.links a:hover { 
  color: #D3D3D3; 
}

