.container {
    font-family: "Merriweather";
    background-color: #000;
    color: #C0C0C0;
    line-height: 2em;
    font-size: 16px;
    margin: 0;


    min-width: 320px;
    min-height: 100vh;
    justify-content: center;

}
.main { 
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  padding-bottom: 5em;
}
