.container {
    font-family: "Merriweather";
    background-color: #000;
    color: #C0C0C0;
    line-height: 2em;
    font-size: 16px;
    margin: 0;
    display: grid;

    min-width: 320px;
    min-height: auto;
    justify-content: center;
    align-items: center;
}
.main { 
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
